<div>
	<h3>this is new o.O</h3>
	<a href="/">index</a>
	<form action="/" method="post">
		<h5>make a pokemang!</h5>
		name: <input type="text" name="name">
		what's it say?: <input type="text" name="quote">
		<input type="submit" name="create">
	</form>
</div>