<!DOCTYPE html>
<html>
<head>
	<title>Chatroom</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script type ="text/javascript" src="/socket.io/socket.io.js"></script>
	<script>
		$(document).ready(function(){
			var user = prompt('who u?', 'a peep');
			var socket = io.connect();
			car curr_user;

			socket.emit('user_joined', {user: user});
			$('#chatroom').on('submit', function(){
				socket.emit('user_sent_message', {message: $("#chat_message").val(), user: curr_user})
				$("#chat_message").val("");
				return false;
			})
			socket.on('user_joined', function(data){
				$('#chatroom').append("<p>" + data.user + "joined the room </p>");
			})
			socket.on('all_messages', function(data){
				curr_user = data.curr_user;
				var messages = data.messages;
				for (var i = 0; i < messages.length; i++){
					$("#chatroom").append("<p>" + data['user'] + ':' + data['new_message'] + "</p>")
				}
			})
			socket.on('user_sent_message', function(data){
				$("#chatroom").append("<p>"+data['user']+':'+data['new_message']+'</p>')
			})
		});
	</script>
</head>
<body>
<div id="chatroom">
	
</div>
<form id="chatform">
	chat: <input id="chat_message" type="">
	<input type="submit" value="message away!">
</form>
</body>
</html>