<div>
	<p>this is the new</p>
	<form action="/pokemons/create" method="POST">
		name: <input type="text" name="name">
		quote: <input type="text" name="quote">
		<input type="submit" value="newify">
	</form>
</div>