<div>
	<p>show page!</p>
	<a href="/">home</a>
	<a href="/pokemons/<%= pokemon._id %>"><%= pokemon.name %></a>
	it says:
	<%= pokemon.quote %>
	<a href="/pokemons/edit/<%= pokemon._id %>">edit</a>
</div>