<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<div style="display: inline-block; vertical-align: top;">
	<h4>Flashied Messages</h4>
	<a href="/"><button>Do iT aGaIn</button></a>
</div>
<div style="display: inline-block; vertical-align: top; border: 2px solid black;">

	<div>
		<h4>information message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'info' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>error message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'error' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>success message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'success' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>warning message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'warning' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>crucial message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'crucial' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>warning message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'warning' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
	<div>
		<h4>happy message</h4>
		{% if messages %}
			{% for message in messages %}
				{% if 'happy' in message.tags %}
					<p>{{ message }}</p>
				{% endif %}
			{% endfor %}
		{% endif %}
	</div>
</div>
</body>
</html>