<div>
	<h2>new pokemans!!</h2>
	<a href="/">hoome</a>
	<form action="/pokemons/create" method="POST">
		name: <input type="text" name="name">
		quote: <input type="text" name="quote">
		<input type="submit" value="">
	</form>
</div>