<div>
	<h2>shooooooooh</h2>
	<a href="/">home</a>
	<div>
		<p><%= pokemon.name %></p><br>
		<p>it says: <%= pokemon.quote %></p><br>
		<a href="/pokemons/edit/<%= pokemon._id %>">edito</a>
	</div>
</div>