<div>
	<p>this the new</p>
	<form action="/pokemons/create" method="POST">
		name: <input type="string" name="name"><br>
		quote: <input type="string" name="quote"><br>
		<input type="submit" value="newify"><br>
	</form>
</div>