<!DOCTYPE html>
<html>
<head>
	<title>Notes</title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script>
		$(document).ready(function(){
			// 1) event ($.on())
			// 2) request .get/.post
			// 3) do stuff (.html(response))
			// all
			$.get('/notes/partials/all_notes', function(response){
				$('#all_notes_partial').html(response);
			});
			// add
			$('#add_noter').submit(function(){
				$.post('/notes/add', $(this).serialize(), function(response){
					$('#all_notes_partial').html(response);
				});
				return false;
			});
			// edit
			$('#edit_noter').submit(function(){
				$.post('/notes/edit', $(this).serialize(), function(response){
					$('#all_notes_partial').html(response);
				});
				return false;
			});
			// delete
			$('#delete_noter').on("click", function(){
				$.post('/notes/delete', $(this).serialize(), function(response){
					$('#all_notes_partial').html(response);
				});
				return false;
			});
		});
	</script>
</head>
<body>
<div>
	<div style="display: inline-block; vertical-align: top;" id="all_notes_partial">
		
	</div>
	<div style="display: inline-block; vertical-align: top;">
		<h4>Add a Note</h4>
		<form id="add_noter">
			<input type="text" name="note_title" placeholder="Note Title Here">
			<input type="submit" value="Note It!">
		</form>
	</div>
</div>

</body>
</html>