<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
	<script>
		$('document').ready(function(),{

		})
	</script>
</head>
<body>
	<form action="/leads/search/" method="post">
		<label for="name">Name</label>
		<input type="text" id="name" name="name">
		<label for="start">After</label>
		<input type="date" id="start" name="start_date" value="">
		<label for="end">Before</label>
		<input type="date" id="end" name="end_date" value="null">
		<input type="submit" value="search">
	</form>
	<div>
		<div id="links_box">
			{% for i in range(0, links|length) %}
				<a href="{{ links[i] }}" style="display: inline-block;">{{ i+1 }}</a>
			{% endfor %}
		</div>
		<p>This is results: </p><p>{{ leads }}</p>
		<div id="leads_table">
			<table>
				<thead>
					<tr>
						<th>ID</th>
						<th>First</th>
						<th>last</th>
						<th>Regdate</th>
						<th>Email</th>
					</tr>
				</thead>
				<tbody>
				{% if leads %}
					{% for lead in leads %}
						<tr>
							<td>{{ lead['id'] 		}}</td>
							<td>{{ lead['first']	}}</td>
							<td>{{ lead['last'] 	}}</td>
							<td>{{ lead['regdate']	}}</td>
							<td>{{ lead['email']	}}</td>
						</tr>
					{% endfor %}
				{% endif %}
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
